/* Bounce left and right */

.bounce.ng-enter {
  -webkit-animation:0.6s ease-out all;
  animation:0.6s ease-out all;
}
.bounce.ng-leave {
  -webkit-animation:0.6s ease-out all;
  animation:0.6s ease-out all;
}
 
.bounce.ng-enter{ -webkit-animation-name: bounceInLeft; animation-name: bounceInLeft; }
.bounce.ng-leave{ -webkit-animation-name: bounceOutRight; animation-name: bounceOutRight; }


.bounceup.ng-enter, .bounceup.ng-leave {
  -webkit-animation:1s ease-out all;
  animation:1s ease-out all;
}
/*.bounceup.ng-leave {
  -webkit-animation:0.5s ease-out all;
  animation:0.5s ease-out all;
}*/
 
.bounceup.ng-enter{ -webkit-animation-name: bounceInDown; animation-name: bounceInDown; }
.bounceup.ng-leave{ -webkit-animation-name: slideOutRight; animation-name: slideOutRight; }

