<br>
    <div class="small-12  columns" >
        
        <a href="#/convertisseur"><button class="round expand"><i class="fi-wrench"></i>CONVERTISSEUR TVA</button></a>
        <a href="#/trouversalaire" ng-click="[setInput('ttc'),setToCout('no') ]"><button class="round expand "><i class="fi-graph-trend"></i>COMBIEN ME RAPPORTE</button></a>
        <a href="#/trouverfacture" ng-click="[setInput('salaire'),setToCout('yes') ]"><button class="round expand "><i class="fi-graph-trend"></i>COMBIEN FACTURER</button></a>

      <!-- <a href="#/profile" class=" button secondary  expand  ">
        <i ng-if="profile == 'cooperative' "class="fi-torsos-all"></i> 
	      <i ng-if="profile == 'entreprise' "class="fi-torsos"></i>
	      <i ng-if="profile == 'auto-entrepreneur' "class="fi-torso"></i>
	      CHANGER MON STATUT
  	  </a> -->
      <a href="#/paramscoop" class="button round expand secondary"><i class="fi-widget"></i> Paramètres</a>
        
        <img src="img/splash.gif" style="width: 50%;">
 	</div>


