<div id="header">
  <div class="row">

  <div class="right">
  	<a href="#/simulations" ng-if="resultats.length > 0" class=" animate bounceup">
  	 <span class="notif">{{resultats.length}} </span> 
  	</a>
  </div>
  <div ng-if="profile != 'non-defini'" style="position: absolute; left:35%; right:35%; text-align:center; color:#000;" class="show-for-medium-up">
    <a href="#/profile">
      <i ng-if="profile == 'cooperative' "class="fi-torsos-all"></i> 
      <i ng-if="profile == 'entreprise' "class="fi-torsos"></i>
      <i ng-if="profile == 'auto-entrepreneur' "class="fi-torso"></i>
      {{profile | uppercase}}
    </a>
  </div>

  <div>{{ifroot()}}
    <a href="#/" class="site-title"><i class="fi-home"></i>ALATAX</a>
    <a ng-click="validateParams()" ng-if="menutoshow == 'back'" ng-hide=" profile == 'non-defini'" class="animate bounceup"><span class="back"><i class="fi-arrow-left"></i>RETOUR</span> </a>
  </div>

</div>
</div>

