
<!--               Pour Cooperative et entreprise -->


<div ng-hide="resultat.profil == 'auto-entrepreneur'" class="row  card">
      <a><img src="img/icons/trash.png" ng-click="remove(resultat)" class="icon"></a>
      <p  ng-class="{'auto-entrepreneur': 'titre-sim green', 'entreprise': 'titre-sim', 'cooperative': 'titre-sim orange'}[resultat.profil]">
        <i ng-if="resultat.profil == 'cooperative' "class="fi-torsos-all"></i> 
        <i ng-if="resultat.profil == 'entreprise' "class="fi-torsos"></i>
        <i ng-if="resultat.profil == 'auto-entrepreneur' "class="fi-torso"></i>
        {{resultat.profil | uppercase}}<br>
        <i class="fi-play"></i>
        {{resultat.type}}
        <span ng-if="resultat.cout == true"> nécessite(nt) </span>
        <span ng-if="resultat.cout != true"> me rapporte(nt) </span>
      </p>

      
      <table class="responsive" style="width:100%;" >

      <tr>
        <th>TTC</th>
        <th>SALAIRE BRUT</th>
      </tr> 

      <tr>
        <td style="color:#FF0000">{{resultat.ttc | number:2}} €</td>
        <td>{{resultat.brut | number:2}} €</td>
      </tr>
      
      <tr>
        <th>HT</th>
        <th>SALAIRE NET </th>
      </tr>
      <tr >
        <td>{{resultat.ht | number:2}} €</td> 
        <td style="color:#FF0000">{{resultat.salaire | number:2}} €</td>
      </tr>
      </table>
      <p>
        <i class="fi-play"></i> 
          Temps de travail: <b>{{resultat.salaire / resultat.params.tauxhoraire | number:0}} heures</b> ( {{resultat.params.tauxhoraire}} € net / h )<br>
        <i class="fi-play"></i> 
          TVA utilisée : <b>{{resultat.params.tva}} %</b> ( soit {{ resultat.ttc - resultat.ht | number:2}} € )<br> 
        <span ng-if="resultat.profil == 'cooperative'">
          <i class="fi-play"></i>
           Cotisation coopérative: <b>{{resultat.params.cotisationcoop}}%</b> ( soit {{resultat.ht * resultat.params.cotisationcoop / 100 | number:2}} € ) <br>
        </span>  
        <span ng-if="resultat.profil == 'entreprise' ">
          <span ng-if="resultat.params.cotisationcoop != 0"><i class="fi-play"></i>
           Cotisation optionnelle sur le HT: <b>{{resultat.params.cotisationcoop}}% </b>( soit {{resultat.ht * resultat.params.cotisationcoop / 100 | number:2}} € )<br>  </span>
        </span>
        <i class="fi-play"></i>
        Cout employeur: <b>{{resultat.benefice | number:2 }} €</b><br>
        <i class="fi-play"></i>
          Cotisation patronales: <b>{{resultat.params.chargespat}} %</b> (soit {{resultat.benefice - resultat.brut  | number:2}} € )<br>  
        <i class="fi-play"></i>   
          Cotisation salariales: <b>{{resultat.params.chargessal}} %</b> (soit {{resultat.brut - resultat.salaire | number:2}} € )<br>  
       
        
     </p>
     <ol style="font-size:12px; color:#aaa;">
        <li>Votre salaire brut a été estimé en retirant les charges patronnales sur ce qu'il reste de votre facture HT</li>
        <li>Votre salaire net est estimé en retirant les charges salariales sur votre salaire brut</li>
      </ol>
</div>


<!--               Pour auto-entrepreneur -->

<div ng-show="resultat.profil == 'auto-entrepreneur'" class="row  card">
      <a><img src="img/icons/trash.png" ng-click="remove(resultat)" class="icon"></a>
      <p  ng-class="{'auto-entrepreneur': 'titre-sim green', 'entreprise': 'titre-sim', 'cooperative': 'titre-sim orange'}[resultat.profil]">
        <i ng-if="resultat.profil == 'cooperative' "class="fi-torsos-all"></i> 
        <i ng-if="resultat.profil == 'entreprise' "class="fi-torsos"></i>
        <i ng-if="resultat.profil == 'auto-entrepreneur' "class="fi-torso"></i>
        {{resultat.profil | uppercase}}<br>
        <i class="fi-play"></i>
        {{resultat.type}}
        <span ng-if="resultat.cout == true"> nécessite(nt) </span>
        <span ng-if="resultat.cout != true"> me rapporte(nt) </span>
      </p>
      
      <table class="responsive" style="width:100%;" >
      <tr>
        <th>TTC</th>
        <th>SALAIRE NET</th>
      </tr> 

      <tr>
        <td style="color:#FF0000">{{resultat.ttc | number:2}} €</td>
        <td style="color:#FF0000">{{resultat.salaire | number:2}} €</td>
      </tr>
      
      </table>
      <p>
        <i class="fi-play"></i> 
          Temps de travail: <b>{{resultat.salaire / resultat.params.tauxhoraire | number:0}} heures</b> ( {{resultat.params.tauxhoraire}} € net / h )<br>
        <i class="fi-play"></i>  
          Cotisations: <b>{{resultat.params.cotisationcoop}}%</b> ( soit {{resultat.ttc * resultat.params.cotisationcoop / 100 | number:2}} € )<br>
     </p>
</div>

<div ng-class="'separation'"></div>