
<!--               Pour Cooperative et entreprise -->


<div ng-hide="resultat.profil == 'auto-entrepreneur'" class="row  card">
      <a><img src="img/icons/trash.png" ng-click="remove(resultat)" class="icon"></a>
      <p class="titre-sim">
        <i ng-if="resultat.profil == 'cooperative' "class="fi-torsos-all"></i> 
        <i ng-if="resultat.profil == 'entreprise' "class="fi-torsos"></i>
        <i ng-if="resultat.profil == 'auto-entrepreneur' "class="fi-torso"></i>
        {{resultat.profil | uppercase}} 
        <i class="fi-play"></i> 
        <small style="font-size:15px;">{{resultat.type}}</small>
      </p>

      
      <table class="responsive" style="width:100%;" >

      <tr>
        <th>TTC</th>
        <th>COT. PATRONALES</th>
        <th>SALAIRE BRUT</th>
      </tr> 

      <tr>
        <td style="color:#FF0000">{{resultat.ttc | number:2}} €</td>
        <td>{{resultat.benefice - resultat.brut  | number:2}} €</td>
        <td>{{resultat.brut | number:2}} €</td>
      </tr>
      
      <tr>
        <th>HT</th>
        <th>COT. SALARIALES </th>
        <th>SALAIRE NET </th>
      </tr>
      <tr >
        <td>{{resultat.ht | number:2}} €</td> 
        <td>{{resultat.brut - resultat.salaire | number:2}} €</td>
        <td style="color:#FF0000">{{resultat.salaire | number:2}} €</td>
      </tr>
      </table>
      <p><i class="fi-play"></i> 
        Soit environ <b>{{resultat.salaire / resultat.params.tauxhoraire | number:0}} heures travaillées</b><br><i class="fi-play"></i>  {{resultat.params.tauxhoraire}}€ net / heure
      <ol style="font-size:12px; color:#aaa;">
        <li>La TVA utilisée pour cette simulation est de <b>{{resultat.params.tva}} % ( soit {{ resultat.ttc - resultat.ht | number:2}} € )</b> </li>
        <li ng-if="resultat.profil=='cooperative'">Une <b>cotisation de {{resultat.params.cotisationcoop}}% ( soit {{resultat.ht * resultat.params.cotisationcoop / 100 | number:2}} € )</b> pour votre coopérative a été retirée sur votre HT</li>
        <li ng-if="resultat.profil=='entreprise'">Une <b>cotisation optionnelle de {{resultat.params.cotisationcoop}}% ( soit {{resultat.ht * resultat.params.cotisationcoop / 100 | number:2}} € )</b> a été retirée sur votre HT</li>
        <li>Votre salaire brut a été estimé ensuite avec une <b>cotisation patronnale de {{resultat.params.chargespat}} %</b> sur la somme restante</li>
        <li>Votre salaire net a été estimé quant à lui avec une <b>cotisation salariale de {{resultat.params.chargessal}} %</b> sur votre salaire brut</li>
        </ol>
     </p>
</div>


<!--               Pour auto-entrepreneur -->

<div ng-show="resultat.profil == 'auto-entrepreneur'" class="row  card">
      <a><img src="img/icons/trash.png" ng-click="remove(resultat)" class="icon"></a>
      <p class="titre-sim">
        <i ng-if="resultat.profil == 'cooperative' "class="fi-torsos-all"></i> 
        <i ng-if="resultat.profil == 'entreprise' "class="fi-torsos"></i>
        <i ng-if="resultat.profil == 'auto-entrepreneur' "class="fi-torso"></i>
        {{resultat.profil | uppercase}} 
        <i class="fi-play"></i>
        <small style="font-size:13px;">{{resultat.type}}</small>
      </p>
      
      <table class="responsive" style="width:100%;" >
      <tr>
        <th>TTC</th>
        <th>SALAIRE NET</th>
      </tr> 

      <tr>
        <td>{{resultat.ttc | number:2}} €</td>
        <td style="color:#FF0000">{{resultat.salaire | number:2}} €</td>
      </tr>
      
      </table>
      <p>
        <i class="fi-play"></i> 
        Soit environ 
        <b>{{resultat.salaire / resultat.params.tauxhoraire | number:0}} heures travaillées</b><br> 
        <i class="fi-play"></i>  
        {{resultat.params.tauxhoraire}}€ net / heure
        <ol style="font-size:12px; color:#aaa;">
          <li>La TVA utilisée pour cette simulation est de <b>{{resultat.params.tva}} % ( soit {{ resultat.ttc - resultat.ht | number:2}} € )</b> </li>
          <li>Une <b>cotisation de {{resultat.params.cotisationcoop}}% ( soit {{resultat.ht * resultat.params.cotisationcoop / 100 | number:2}} € )</b> a été retirée sur votre TTC</li>
        </ol>
     </p>
</div>

<div class="separation"></div>