<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <script src="js/vendor/modernizr.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/system.js"></script>
    <script type="text/javascript" src="js/conversions.js"></script>
    <script type="text/javascript" src="js/params.js"></script>

  </head>


    <body ng-app="calculator">
      <div class="row" ng-controller="SystemCtrl">
        <h1>Calculator</h1>
        <input type="number" ng-model="input.value" ></input>
            <FORM>
            <SELECT name="type" ng-model="input.type">
            <OPTION selected>HT</option>
            <OPTION>TTC</option>
            <OPTION>CAPITAL</option>
            <OPTION>SALAIRE</option>
            </SELECT>
            </FORM>
        <h3>HT: {{ input.value }}</h3> 
        <h3>TTC: {{ htToTtc(input.value) | number:2 }}</h3> 
        <h3>CAPITAL: {{ htToCapital(input.value) | number:2 }}</h3> 
        <h3>Salaire: {{ htToSalaire(input.value) | number:2 }}</h3> 
        

      </div>
      



    </body>
</html>
