<div class=" page"><div class="row">
<h3 class="titre-rubrique">Choisissez votre statut </h3>

</div></div>

<br><br><br>
    <div class="row" >
      <div class="small-12 columns"> 
        <button ng-click="ifFirstConnect('entreprise')" class="expand">
            <i class="fi-torsos"></i> ENTREPRISE
        </button>
        <button ng-click="ifFirstConnect('auto-entrepreneur')" class="expand">
        	<i class="fi-torso"></i> AUTO-ENTREPRENEUR
        </button>
        <button ng-click="ifFirstConnect('cooperative')" class="expand">
        	<i class="fi-torsos-all"></i>MEMBRE D'UNE COOPERATIVE
        </button>
        
      </div>  
 	</div>
