<div class=" page"><div class="row">
<h3 class="titre-rubrique">COMBIEN ME RAPPORTE</h3>
<div ng-include src="'partials/sim-button-bar.html'"> </div>
  <form ng-submit = "save()">
      <div class="row collapse">
        <div class="small-3 medium-1 columns">
          <input ng-model="input.quantity" type="number" min="0" step="any"></input>
        </div>
        <div class="small-8 medium-3 columns">
          <select  ng-model="input.type">
              <option ng-if="profile !='auto-entrepreneur'" value="ht">facture(s) HT de</option>
              <option value="ttc" selected="selected">facture(s) TTC de</option>
              <option value="heures">jour(s) de travail de </option>
              <!-- <option ng-if="profile !='auto-entrepreneur'" value="brut">salaire(s) brut de</option>
              <option ng-if="profile !='auto-entrepreneur'" value="salaire">salaire(s) net de</option> -->
          </select>
        </div>
        <div class="small-9 medium-3 columns">
            <input type="number" min="0" step="any" ng-model="input.value" class="maininput" placeholder="Saisissez un montant" required></input>
        </div>
        <div class="small-2 columns">
          <h3 ng-if="input.type != 'heures'" style="color:white;"> €</h3>
          <h3 ng-if="input.type == 'heures'"style="color:white;"> heures</h3>
        </div>
        <div class="small-12 medium-3 columns">
            <button type="submit" class="postfix success expand">GO <i class="fi-arrow-right"></i></button>
        </div>
      
      </div>
          
  </form>
</div></div>