
<br>
<h4>Simulez votre salaire</h4><hr>
	<!-- <p>Entrez une valeur pour avoir un aperçu du salaire que vous pourriez vous payer. </p> -->

<ul>
	<li>A partir d'un montant HT</li>
	<li>A partir d'un montant TTC</li>
	<li>A partir d'un bénéfice</li>
</ul>
<hr>

<div class="panel light"><img src="img/icons/info.png" align="left" width="55px"><p><b>Le bénéfice est ce qu'il reste une fois toutes vos charges payées (comme la tva).</b> Il peut vous servir à faire des achats au nom de votre société, ou à vous verser un salaire.</p></div>


<!-- <button class="large round expand success">Besoin d'aide ?</button>
<h4>Le saviez-vous ?</h4><hr>
<p>Pour estimer votre salaire, le simulateur utilise les valeurs des charges patronnales et salariales par défaut. Vous pouvez bien-sur les modifier</p>
<blockquote>
<ol>
	<li>Pour verser 1000 € net de salaire, il faut environ disposer du double (un petit peu moins)</li>
	<li>Les charges patronnales représentent généralement environ 42% du salaire brut</li>
	<li>Les charges salariales quant à elles sont autour de 22% du salaire brut</li>
</ol>
</blockquote>

<p class="panel callout"><b>Le salaire brut est le salaire "officiel" qui vous est versé par l'employeur.</b><br> 
	Ce salaire est taxé par différentes cotisations sociales (comme la retraite, le chomage etc.), ce sont les charges salariales. <br>L'employeur (la structure qui verse le salaire) doit lui aussi reverser des cotisations. Ce sont les charges patronales. Par mesure de simplicité, c'est lui qui collecte l'ensemble des cotisations et qui les reverse aux différents organismes. <br><br>
	Le salaire net donc est ce qu'il reste une fois les charges patronnales et salariales payées.
</p>
 -->